discord_token = "<YOUR_DISCORD_APP_TOKEN>"
#dbl_api_key = "<YOUR_DBL_API_KEY>" # Your discordbots.org API key. After registering a bot, get your key here: https://discordbots.org/api/docs#mybots. (Uncomment the line by removing the leading '#' if you want to use this feature)
command_prefix = "~"
bot_owners = [
    123456, # Paste the Discord user IDs of your bot owners here
    789123, # (bot owners have full permissions on all commands)
]

# Declares the level of logging to use. Read the documentation for the `log` crate for more information.
log_level_term = "Info"
log_level_file = "Debug"

db_connection_pool_size = 8

# If you want to be pinged about the status of the bot, uncomment and fill the following fields.
# webhook exemple : https://discordapp.com/api/webhooks/webhook_id/webhook_token
#webhook_id = 123456789
#webhook_token = "AbC123xYz"
#webhook_frequency = 60 # In minutes
#webhook_role = 123456 # Id of the role you want to ping when something went wrong with the bot
